/* Start Block formatting */

/* Navigation Block */
div.block-user {
	padding: 5px;
	position: relative;
	left: 15px;
	right: 15px;

}
div.block-user h2 {
  font-size: 1em;
}

div.block-user .menu {
	padding-left: 10px;
}

/* Sundry Menu */
#block-menu-23 { display: none; }

/* end sundry Menu */



/* Blog Block */
#block-blog-0 { display: none; }

#block-menu-66 { display: none; }


#SidebarLeft {
	padding: 0px 0px 0px 0px;
	margin: 0px;
}


/* Format your blocks on the right */
#SidebarRight .block {
	padding: 5px;
	color: #fff;
}

#SidebarRight .block h2 {
	font-size: 1em;
	font-style: italic;
	color: #fff;
}

#SidebarRight .block li a {
	font-size: .8em;
	color: #fff;
}

#SidebarRight .block .more-link a {
	font-size: .8em;
	color: #fff;
}

#SidebarRight .block .more-link a:hover {
	text-decoration: underline;
}

#SidebarRight .block .more-link ul li {
	font-size: .8em;
	color: #fff;
}

/* My Training Schedules Block */
#block-block-1 {
	padding: 5px;
	color: #fff;
}

#block-block-1 h2 {
	font-size: 1em;
	font-style: italic;
	color: #fff;
}

#block-block-1 .content {
	padding-left: 10px;
	font-size: .79em;
	color: #fff;
}

#block-block-1 li a {
	color: #fff;
}

#block-block-1 .more-link a {
	font-size: .8em;
	color: #fff;
}

#block-block-1 .more-link a:hover {
	text-decoration: underline;
	color: #fff;
}
	
	
