#SidebarLeft {
	float: left;
	position: relative;
	padding: 0px 15px 0px 15px;
	width: 180px;
}

#Center {
	position: relative;
	width: auto;
	min-width: 150px;
	min-height: 448px;
}

.newsItems {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-height: 220px; /* Always show full logo */
}

