body {
        font-family: sans-serif;
        font-size: 100%;
	color: #000;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #000;
	background: transparent;
	text-decoration: none;
}

a:visited {
	color: #000;
	background: transparent;
	text-decoration: none;
}

a:hover {
	color: #000;
	background: transparent;
	text-decoration: underline;
}

h1 {
	text-align: center;
}

#Center {
	background-color: #fff;
	color: #555;
	padding: 0px 0px 0px 0px;
	margin-left: 180px;
	margin-right: auto;
	border-left: 1px dashed #000;
}

#SidebarLeft {
	color: inherit;
}

#SidebarRight { display: none; }

.newsItems {
  padding-top: 1em;
  padding-bottom: 2em;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
}

.info { 
	color: #6A6A6A;
	font-size: .85em;
	padding-left: 10px;
}

.node .content a:link,
.node .content a:visited {
  	text-decoration: underline;
	color: #555;
}

.node .content a:hover {
  text-decoration: none;
}

.node .content {
	font-size: .85em;
	background: transparent;
	font-family: sans-serif;
	padding: 0px 20px 20px 20px;
	line-height: 1.5em;
	letter-spacing: 1px;
}

#content h2,
#content h2 a,
#Center h2,
#Center h2 a {
  background: transparent;
  font-style: italic;
  color: #00598E;
  text-decoration: none;
}

#content h2 a:hover { 
  text-decoration: underline;
}



/*
** Menu styles
*/
.menu {
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
}
.menu ul {
  list-style: none;
  border: none;
  text-align:left;
}
.menu li a {
  width: 100%;
  text-decoration: none;
}

.menu li a:hover {
  width: 100%;
  color: #000;
  text-decoration: underline;
}

li.expanded {
  list-style-type: circle;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}



.tabs {
  margin: 15px 0 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 0 0 30px 10px;
  white-space: nowrap;
  list-style: none;
  margin: 0 0 0 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #000;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  padding: 0px 10px 0px 10px;
  color: #444;
  border-color: #555;
  border-width: 1px;
  border-style: none solid none none;
  height: auto;
  margin-right: 10px;
  text-transform: lowercase;
  text-decoration: underline;
}
.tabs ul.primary li.active a {
  border-right: 1px solid #222;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  text-decoration: none;
}
.tabs ul.primary li a:hover {
  border-right: 1px solid #000;
  background-color: #555;
  text-decoration: underline;
  color: #fff;
}

.tabs ul.secondary {
  border-collapse: collapse;
  margin: 15px 0 0 0;
  white-space: nowrap;
  list-style: none;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  text-decoration: none;
  border-right: none;
}
.tabs ul.secondary li a {
  padding: 5px 0 5px 5px;
  margin: 0 0 0 0;
}
.tabs ul.secondary li a.active {
  color: #fff;
  background-color: #000;
  padding: 0 10px 0 10px;
  border-bottom: 4px solid #555;
}
.tabs ul.secondary li a:hover {
  color: #ff8a00;
}

.links {
	padding-left: 2em;
	font-size: .79em;
	text-align: center;
}

.terms {
	padding: 10px 0px 10px 20px;
	display: block;
	text-align: left;
	text-transform: uppercase;
}

.terms a:link,
.terms a:visited {
	color: #999;
}
	
.textarea {
	max-width: 100%;
	}

h1.adminTitle {
	font-size: 1em;
	text-transform: uppercase;
	padding: 15px 0px 15px 0px;
	letter-spacing: 5px;
	border-top: 5px solid #000;
	background-color: #EEEEDD;
	margin: 0px;
}

h1.adminTitle a,
h1.adminTitle a:visited,
h1.adminTitle a:active {
	text-decoration: underline;
}

h1.adminTitle a:hover {
	text-decoration: none;
}

.breadcrumb {
	text-align: center;
	text-transform: small-caps;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #9B9B9B;
	border-bottom: 1px solid #9B9B9B;
	font-size: 0.8em;
	background-color: #dddddd;
	color: #9B9B9B;
}

.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:visited {
	color: #9B9B9B;
	font-weight: bold;
}
	

div.messages {
	border: 1px dashed #000;
	margin: 10px;
	color: #000;
	padding: 10px;
	font-size: 0.85em;
}

div.container-inline {
	padding: 5px;
}
