
#Header {
	width: 100%;
	padding-top: 200px;
}

#Footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%; 
	z-index: 4;
}

#SidebarLeft, #SidebarRight {
	position: absolute;
	/* height: auto; */
	padding: 0px 15px 75px 15px;
}

#SidebarLeft {
	top: 130px;
	width: 180px;
	left: 0px;
	z-index: 2;
}
#SidebarRight {
	width: 150px;
	top: 30px;
	right: 0px;
	z-index: 1;
	height: 100%;
}

#Center {
	position: relative;
	width: auto;
	min-width: 150px;
	min-height: 448px;
	/* height: 100%; */
	margin: 0px 180px 0px 210px;
	z-index: 3;
	padding-bottom: 100px;
}
#content {
	margin-left: 15px;
}
#ContentLeft {
	padding: 0px 15px 0px 15px;
}

#Mission {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#Wrapper {
	/* height: 100%; */
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.primary-links {
	padding: 0px 0px 0px 50px;
	height: 30px;
}

.secondary-links {
}

.Logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.newsItems {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-height: 220px; /* Always show full logo */
}

