/* Start Block formatting */

/* Navigation Block */
div.block-user {
	padding: 5px;
	position: relative;
	left: 15px;
	right: 15px;

}
div.block-user h2 {
  font-size: 1em;
}

div.block-user .menu {
	padding-left: 10px;
}

/* Sundry Menu */
#block-menu-66 h2 { display: none; }

#block-menu-66 {
  padding-top: 30px;
  /* position: absolute; */
  /* left: 0px; */
  width: 150px !important;
}

#block-menu-66 li,
#block-menu-66 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
 }
#block-menu-66 li a {
   display: block;
   list-style-type: none;
   list-style-image: none;
   width: 100%;
   padding: 5px 30px 5px 0px;
   margin: 1px 0px 1px 0px;
   color: #fff;
   text-align: right;
   letter-spacing: 1px;
   background-color: #A2C1DB;
 }
#block-menu-66 li a:hover {
  background-color: #999999;
}
/* end sundry Menu */



/* Blog Block */
#block-blog-0 {
	padding: 5px;
	position: relative;
	left: 15px;
	right: 15px;
	color: #999;
}

#block-blog-0 h2 {
	font-size: 1em;
	font-style: italic;
}

#block-blog-0 li a {
	font-size: .8em;
	color: #999;
}

#block-blog-0 .more-link a {
	font-size: .8em;
	color: #999;
}

#block-blog-0 .more-link a:hover {
	text-decoration: underline;
}


	

/* Format your blocks on the right */
#SidebarRight .block {
	padding: 5px;
	color: #666;
}

#SidebarRight .block h2 {
	font-size: 1em;
	font-style: italic;
	color: #666;
}

#SidebarRight .block li a {
	font-size: .8em;
	color: #666;
}

#SidebarRight .block .more-link a {
	font-size: .8em;
	color: #666;
}

#SidebarRight .block .more-link a:hover {
	text-decoration: underline;
}

/* My Training Schedules Block */
#block-block-1 {
	padding: 5px;
	color: #666;
}

#block-block-1 h2 {
	font-size: 1em;
	font-style: italic;
	color: #666;
}

#block-block-1 .content {
	padding-left: 10px;
	font-size: .79em;
	color: #666;
}

#block-block-1 li a {
	color: #666;
}

#block-block-1 .more-link a {
	font-size: .8em;
	color: #666;
}

#block-block-1 .more-link a:hover {
	text-decoration: underline;
	color: #666;
}
	
	
