body {
        font-family: sans-serif;
        font-size: 100%;
	color: #000;
	background: #ccddec url(bg-left.png) repeat-y top left;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #000;
	background: transparent;
	text-decoration: none;
}

a:visited {
	color: #000;
	background: transparent;
	text-decoration: none;
}

a:hover {
	color: #000;
	background: transparent;
	text-decoration: underline;
}

#Center {
	background-color: #ccddec;
	color: #555;
}


.secondary-links {
        text-align: center;
}

#Footer {
	margin: 0;
	padding: 0px 0px 0px 0px;
        text-align: left;
	color: #000;
	background-color: #EFEFEF;
	font-size: .75em;
}

#Footer a:link,
#Footer a:visited {
	text-decoration: none;
}

#Footer a:hover {
	text-decoration: none;
}

.foot a,
.footer-border a {
	padding: 0px 15px;
	margin: 0;
	color: #999;
	background-color: #EFEFEF;
	line-height: 30px;
	display: block;
	float: left;
}
.footer-border a {
	border-right: 1px solid #fff;
}
.foot a:hover,
.footer-border a:hover {
	background: #999999;
	text-decoration: underline !important;
	color: #fff;
}

.footer-border-enditem a {
	border: none;
	padding: 0px 15px;
	margin: 0;
	color: #999;
	background-color: #EFEFEF;
	line-height: 30px;
	display: block;
	float: left;

}
.footer-border-enditem a:hover {
	text-decoration: underline !important;
	background: #999999;
	color: #fff;
}



#Mission {
	border: 3px solid #F5F5F5;
	color: #6a6a6a;
	padding: 5px 5px 5px 5px;
}

#SidebarLeft {
	/* background: #f5f5f5 url(bg-left.png) repeat-y top left; */
	/* border-left: 30px solid #bffcc2; */
	color: inherit;
}

#SidebarRight {
	background: #A2C1DB url(bg-right.png) repeat-y top right;
	color: inherit;
}

#Wrapper {
	background: transparent url(bg-right.png) repeat-y top right;
}

.Logo {
	text-align: center;
}

.newsItems {
  padding-top: 9em;
  padding-bottom: 2em;
  background: #ccddec url("images/on-background.gif") top center no-repeat;
  margin-left: auto;
  margin-right: auto;
}



.info { 
	color: #6A6A6A;
	font-size: .85em;
	padding-left: 10px;
}

.node .content a:link,
.node .content a:visited {
  	text-decoration: underline;
	color: #555;
}

.node .content a:hover {
  text-decoration: none;
}

.node .content {
	font-size: .85em;
	background: transparent;
	font-family: sans-serif;
	padding: 0px 20px 20px 20px;
	line-height: 1.5em;
	letter-spacing: 1px;
}

.headerLogo {
	margin-left: 30px;
	background: #a2c1db url(/themes/occy/images/logo.png) left top repeat;
	height: 100px;
	vertical-align: center;
}


.headerLogoText {
	display: block;
	letter-spacing: 5px;
	padding: 70px 0px 0px 40px;
	font-size: .7em;
}



#content h2,
#content h2 a,
#Center h2,
#Center h2 a {
  background: transparent;
  font-style: italic;
  color: #d70751;
  text-decoration: none;
}

#content h2 a:hover { 
  text-decoration: underline;
}



/*
** Menu styles
*/
.menu {
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
}
.menu ul {
  list-style: none;
  border: none;
  text-align:left;
}
.menu li a {
  width: 100%;
  text-decoration: none;
}

.menu li a:hover {
  width: 100%;
  color: #000;
  text-decoration: underline;
}

li.expanded {
  list-style-type: circle;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}



.primary-links {
 	font-size: .8em;
	color: #fff;
	background-color: #d70751;
        letter-spacing: 1px;
	list-style: none;
}

.primary a,
.primary-border a {
	padding: 0px 15px;
	margin: 0;
	color: #fff;
	background-color: #d70751;
	line-height: 30px;
	display: block;
	float: left;
}
.primary-border a {
	border-right: 1px solid #fff;
}
.primary a:hover,
.primary-border a:hover {
	background: #999999;
	color: #fff;
}

.tabs {
  margin: 15px 0 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 0 0 30px 10px;
  white-space: nowrap;
  list-style: none;
  margin: 0 0 0 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #000;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  padding: 0px 10px 0px 10px;
  color: #444;
  border-color: #555;
  border-width: 1px;
  border-style: none solid none none;
  height: auto;
  margin-right: 10px;
  text-transform: lowercase;
  text-decoration: underline;
}
.tabs ul.primary li.active a {
  border-right: 1px solid #222;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  text-decoration: none;
}
.tabs ul.primary li a:hover {
  border-right: 1px solid #000;
  background-color: #555;
  text-decoration: underline;
  color: #fff;
}

.tabs ul.secondary {
  border-collapse: collapse;
  margin: 15px 0 0 0;
  white-space: nowrap;
  list-style: none;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  text-decoration: none;
  border-right: none;
}
.tabs ul.secondary li a {
  padding: 5px 0 5px 5px;
  margin: 0 0 0 0;
}
.tabs ul.secondary li a.active {
  color: #fff;
  background-color: #000;
  padding: 0 10px 0 10px;
  border-bottom: 4px solid #555;
}
.tabs ul.secondary li a:hover {
  color: #ff8a00;
}

.thumbs {
	text-align: center;
	left-margin: auto;
	right-margin: auto;
	width: 100%;
}


.clientQuote {
	padding-left: 10px;
	margin: 0px 20px 40px 20px;
	font-style: italic;
	border-left: 2px solid #f5f5f5;
}

.links {
	padding-left: 2em;
	font-size: .79em;
	text-align: center;
}

.sticky {
        background: transparent url("images/sticky-bg.png") bottom center no-repeat;
}


.eventDate {
	font-size: .79em;
	color: #D70751;
	text-align: right;
}

.centerImage300W {
	position: relative;
	border: 2px solid #999;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
}

.centerImage {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.terms {
	padding: 10px 0px 10px 20px;
	display: block;
	text-align: left;
	text-transform: uppercase;
}

.terms a:link,
.terms a:visited {
	color: #999;
}
	
.textarea {
	max-width: 100%;
	}

